
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400&display=swap');

body {
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;
  color:black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-element {
  font-size: 17px;
  font-weight: normal;
  margin-left: 20px;
  margin-right: 20px;
}



